// 定义主题色
@primary-color: #00b9b8; // 修改为你需要的主题色
// 导入TDesign主题变量

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
